.place_detail h2 {
	font-size: 50px;
}
.place_detail p {
	text-align: justify;
}

.place_card img {
	width: 200px;
	height: 300px;
	border-radius: 20px;
	position: relative;
	z-index: 1;
	opacity: 0.8;
}
.activePlace img {
	border: 3px solid darkorange;
	width: 200px;
	border-radius: 20px;
	cursor: pointer;
	opacity: 1;
}
.place_card h3 {
	margin-top: 250px;
	margin-left: 10px;
	position: absolute;
	z-index: 2;
}
.place_card:hover {
	cursor: pointer;
}
