.home-wrapper{
    height: 700px;
    position: relative;
    background: #363535;
    overflow: hidden;
}
.home-wrapper .home-info {
    position: relative;
    z-index: 2;
    color: white;
}
.home-wrapper:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.7;
    background-image: url('../../img/Image/Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
}
.card-img1{
    background-image: url('../../img/Image/Sundarban.png');
}
.card-img2{
    background-image: url('../../img/Image/Sajek.png');
}
.card-img3{
    background-image: url('../../img/Image/Sreemongol.png');
}
.card-style{
    border: none;
    border-radius: 23px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 300px;
}
.card-style h2{
    padding-top: 250px;
    padding-left: 10px;
}
.card-style:active{
    border: 2px solid darkorange;
}
