.navbar .text-white {
	color: white;
}
.navbar img {
	height: 50px;
}
.header-search {
	background: #80808038;
	color: white;
	font-weight: 400;
	border: 2px solid white;
}
.header-search::placeholder {
	color: white;
}
.navbar-nav a:hover {
	text-decoration: none;
}
.navbar-nav .active {
	border-bottom: 2px solid var(--warning);
}
