.App {
	height: 700px;
	position: relative;
	background: #363535;
	overflow: hidden;
}
.App main {
	position: relative;
	z-index: 2;
	color: white;
}
.App:before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0.5;
	background-image: url('./assets/images/Cover.png');
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
}
